<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
</head>
<HEAD>
 
     
<body>
    <h2 ALIGN=right>Estado de Venta</h2>  
  </div>
<img src="Plantik.jpeg"width="60" height="80">
  <h2></h2>
  <p>
    </p>
    <div class="container">
        <!-- Content here -->
      <div class="row justify-content-md-center">  
        <div class="col-10"> 
            <div style="width:1000px;">
      <form>

        <div class="mb-20" style="width:450px; float:left;">
          <label for="exampleInputCliente" class="form-label">ID Cliente</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                             
        </div>
       
        <div class="mb-20" style="width:450px; float:right;">
            <label for="exampleInputProducto" class="form-label">Razón Social-Nombre</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         </div>

         <br>

               
          <div class="mb-20"style="width:400px; float:rigth;">
            <label for="exampleInputCliente" class="form-label">Vendedor N°</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                               
          </div>
          <br>

          <div class="mb-20"style="width:100px; float:left;">
            <label for="exampleInputCliente" class="form-label">Venta N°</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                               
          </div>
          <br>
        
       
        <div class="mb-20">
          <label  for="exampleInputEstado" class="form-label">Estado de Venta</label>
          <select name="Estado de Venta">
          <option value="1">En proceso</option> 
          <option value="2">Cancelada</option> 
          <option value="3">Entregada</option>
        </select>
        <button type="submit" class="btn btn-primary">Actualizar</button>
      </div>
       
       <br>

      
       <TABLE BORDER=1 WIDTH=200 HEIGHT=100 class= col -12>
       

        <tr>
      
          <th>Cod</th>
          <th>Nombre</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Valor Unit</th>
          <th>Valor Total</th>
        </tr>
        <tr>
            <td>23457</td>
            <td>Juan Martinez</td>
            <td>Materas</td>
            <td>2 </td>
            <td>20.000</td>
            <td>40.0000</td>
        </tr>

        </table>

        <br>
    </form>
    </div>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
</html>
      
               
      
       
      
          
      
          
      
          
      
     
      
       
      
          
          
      
          
      
        
      
          
      
     